main {
    border: 3px solid black;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

h1, h2, h3 {
    text-align: center;
}

#menu ul, h1, footer {
    font-family: "Goldman", sans-serif;
}

h3 {
    color: red;
}

.clique:hover {
    cursor: pointer;
}

#imginicial {
    display: block;
    margin: auto;
}

main {
    padding-top: 1%;
    padding-bottom: 10%;
    background-image: url(imagens/pergaminho.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.playfair-display-titulo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.arquivos {
     list-style: none;
     padding-top: 2%;
}

.arquivos>li{
    padding-bottom: 15px;
    color: #141414;
    font-size: large;
}

.rotos {
    margin-left: 2%;
    float: left;
    padding-right: 1%;
    width: 12%;
}
.rostos {
    filter: grayscale(100%) contrast(1.2);
    border: 3px solid #333;
    padding: 4px;
    background: #eee;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    margin-left: 2%;
    float: left;
    margin-right: 1%;
    width: 290px;
    height: 370px;
}

article {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#novoMembro {
    position: relative;
    text-align: center;
    font-family: "Goldman", sans-serif;
    font-size: 20px;
    top:70px;
}

#sallum {
    display: none;
}

#aqui, #fechar {
    color: red;
    font-size: 25px;
    cursor: pointer;
    font-family: "Goldman", sans-serif;
}



@media (max-width: 860px) {
    .rostos {
        width: 80%;
        height: 600px;
        margin-left: 0;
        margin-right: 0;
    }
    .arquivos {
        clear: left;
    }
}