h1, footer {
    text-align: center;
    font-family: "Goldman", sans-serif;
}

main {
    align-items: center;
    margin: 0 12.5%;
    text-align: center;
}

.clicavel {
    position: relative;
    text-decoration: none;
    font-family: "Goldman", sans-serif;
    font-size: xx-large;
    color: black;
    text-align: center;
    padding-right: 20px;
    cursor: pointer;
}

.clicavel::after {
    content: " ";
    width: 0;
    height: 4px;
    background-color: #0a0f1f;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    transform-origin: left;
}

.clicavel:hover::after {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: x-large;
    background-color: rgba(207, 207, 207, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(195, 193, 193, 0.5);
    color: rgb(5, 5, 5);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #0a0f1f;
    color: #00aaff;
    padding: 12px;
    font-size: 18px;
}

table td {
    border: 2px solid #080808;
    font-size: large;
}

#segunda {
    text-align: left;
}

table img {
    display: inline;
    width: 100px;
    height: 150px;
    padding: 2px;
    margin: 2px;
}

table img:hover {
    transform-origin: bottom right;
    transform: scale(1.9);
    transition: transform 0.7s cubic-bezier(0.3, 1.5, 0.5, 1);
}

table img:hover {
    cursor: pointer;
}

#video {
    display:none
}

#video iframe {
  width: 100%;
  max-width: 800px;
  height: 450px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (max-width: 914px) {
  #video iframe {
    height: 380px;
  }
}

@media (max-width: 844px) {
  #video iframe {
    height: 350px;
  }
}

@media (max-width: 726px) {
  #video iframe {
    height: 300px;
  }
}

@media (max-width: 600px) {
  #video iframe {
    height: 250px;
  }
}
