#principal {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 1000px;
    height: 420px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}


.quarteto {
  width: 100%;
  max-width: 500px;
  height: 280px;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 8px;
  margin-bottom: .5em;
  display: inline-block;
  margin-bottom: 40px;
}


body {
    text-align: center;
    font-family: "Goldman", sans-serif;
}

.ff {
  width: 100%;
  max-width: 500px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: inline-block;
  position: relative;
}

.ff #estreia {
  position: absolute;
  text-shadow: 1px 1px black;
  bottom: 25.5px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  text-align: left;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0;
}

.ff:hover #estreia {
  opacity: 1;
  transition: opacity 0.1s ease;
}

footer {
    display: flex;
    background-color: rgba(0, 0, 0);
    color: white;
    margin-bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 16%;
}

footer section {
    margin: 20px 5px;
    text-align: left;
}

footer li {
    margin-bottom: 10px;
}

#enviar {
    display: block;
    text-align: center;
    margin-left: 14%;
    cursor: pointer;
}

footer ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}