#principal {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 1000px;
    height: 490px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}


.quarteto {
  width: 100%;
  height: 280px;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 40px;
}


body {
    text-align: center;
    font-family: "Goldman", sans-serif;
    width: 100%;
}

.ff {
  width: 100%;
  max-width: 500px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: inline-block;
  position: relative;
}

.ff #estreia {
  position: absolute;
  text-shadow: 1px 1px black;
  bottom: 25.5px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  text-align: left;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0;
}

.ff:hover #estreia {
  opacity: 1;
  transition: opacity 0.1s ease;
}

footer section {
    margin: 20px 5px;
    text-align: left;
}

footer li {
    margin-bottom: 10px;
}

#enviar {
    display: block;
    text-align: center;
    margin-left: 14%;
    cursor: pointer;
}

footer ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}


.noticia-destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    color: white;
    border-radius: 10px;
    max-width: 1000px;
  margin: 0 auto;  
}

.noticia-destaque img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.noticia-destaque img:hover {
    transform: scale(1.05);
}

.texto-destaque {
  margin-top: 40px;
    min-width: 500px;
    color: black;
  text-align: center;  
}

.texto-destaque h2 {
    font-size: 1.6rem;
    color: crimson;
    margin-bottom: 40px;
}

.texto-destaque p {
    font-size: 1rem;
    margin-bottom: 50px;
}

.botao-leia {
    display: inline-block;
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.botao-leia:hover {
    background-color: darkred;
}


/* responsividade */
@media (max-width: 1150px) {
  #principal {
    width: 100%;
    height: auto;
  }

  .noticia-destaque {
    justify-content: center;
    flex-direction: column;
  }

  .noticia-destaque img {
    text-align: center;
    width: 80%;
    margin-left: 0;
    margin-right: 0;
  }

  .ff {
    height: auto;
    max-width: 80%; 
  }

  .quarteto {
    height: auto;
  }

}