html, body {
    height: 100%;
}

#indice #menu {
    padding: 5px;
    margin-top: 0%;
    background-color: rgb(0, 0, 0);
    list-style: none;
    overflow:hidden;
    text-align: center;
    font-size: large;
}

header {
    background-color: rgba(0, 0, 0);
    width: 100%;
    box-sizing: border-box;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#menu li {
    display: inline-block;
    margin-right: 45px;
    color: whitesmoke;
    font-size: x-large;
    font-family: "Goldman", sans-serif;
    font-weight: bold;
}

#menu li a {
    text-decoration: none;
    color: rgb(196, 195, 195);
}

#menu ul {
    padding-left: 100px;
} 

#mobile-menu {
    display: none;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 6px;
}

#mobile-menu div {
    width: 34px;
    height: 4px;
    background-color: #fff;
    margin: 8px;
    transition: all 0.3s ease;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: rgb(0, 0, 0, 0.1);
}

.clique:hover {
    cursor: pointer;
}

#logo {
    width: 250px;
    padding-top: 0;
    margin-left: 7vw;
    margin-right: 92px;
    position: relative;
}

.divisor-secao {
    border-bottom: 2px solid black;
    width: 60.2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    display: block;
    clear: both;
}

#interno {
    margin-top: 3%;
    padding-top: 3%;
}

footer {
    margin-top: 30px;
    display: flex;
    background-color: rgba(0, 0, 0);
    color: white;
    margin-bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 16%;
    bottom: 0;
}

footer section {
    margin: 20px 5px;
    text-align: left;
}

footer li {
    margin-bottom: 10px;
}

#enviar {
    display: block;
    text-align: center;
    margin-left: 14%;
    cursor: pointer;
}

footer ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

footer a {
    text-decoration: none;
    color: rgb(245, 4, 4);
}

footer a:hover {
    text-decoration: underline;
}




/*responsible*/

@media (max-width:1440px) and (min-width: 1150px) {
    header {
        justify-content: space-around;
    }

    #logo {
        margin-right: 0px;
    }

    #menu li {
        margin-right: 20px;
        font-size: larger;
    }

}

@media (max-width:1150px) {
    header {
        justify-content: center;
    }

    #logo {
        margin: 0 auto;
    }

    footer {
        gap: 10%;
    }

    footer section {
        width: 100%;
        margin: 0;
    }

    #mobile-menu {
        display: block;
        position: absolute;
        right: 40px;
    }

    body {
        overflow-x: hidden;
    }

    #menu {
        position: absolute;
        top: 15vh;
        right: 0;
        width: 50vw;
        height: 100vh;
        background-color: rgba(0, 0, 0);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        justify-items: center;
        z-index: 1;
        transform: translateX(100%);
        padding-top: 5vh;
    }

    #menu.animar {
        transition: transform 0.5s ease-in-out;
    }

    #menu.active {
        transform: translatex(0);
    }

    #menu li {
        display: block;
        margin-top: 0vh;
        margin-bottom: 24vh;
        font-size: x-large;
    }
}

@media (max-width: 935px) {
    #formulario {
        margin-left: 50px;
    }
}