#indice #menu {
    padding: 5px;
    margin-top: 0%;
    background-color: rgb(0, 0, 0);
    list-style: none;
    overflow:hidden;
    text-align: center;
    font-size: large;
}

header {
    background-color: rgba(0, 0, 0);
    width: 100%;
    box-sizing: border-box;
    height: 130px;
    display: flex;
    align-items: center;
    text-align: center;
}

#menu li {
    display: inline-block;
    margin-right: 45px;
    color: whitesmoke;
    font-size: x-large;
    font-family: "Goldman", sans-serif;
    font-weight: bold;
}

#menu li a {
    text-decoration: none;
    color: rgb(196, 195, 195);
}

#menu ul {
    padding-left: 100px;
} 

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: rgb(0, 0, 0, 0.1);
}

.clique:hover {
    cursor: pointer;
}

#logo {
    width: 250px;
    padding-top: 0;
    margin-left: 7vw;
    margin-right: 92px;
    position: relative;
}

.divisor-secao {
    border-bottom: 2px solid black;
    width: 60.2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    display: block;
    clear: both;
}

#interno {
    margin-top: 3%;
    padding-top: 3%;
}

footer {
    margin-top: 30px;
    display: flex;
    background-color: rgba(0, 0, 0);
    color: white;
    margin-bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 16%;
    bottom: 0;
}

footer section {
    margin: 20px 5px;
    text-align: left;
}

footer li {
    margin-bottom: 10px;
}

#enviar {
    display: block;
    text-align: center;
    margin-left: 14%;
    cursor: pointer;
}

footer ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}




/*responsible*/

@media (max-width:1440px) and (min-width: 1150px) {
    header {
        justify-content: center;
    }

    #logo {
        margin-left: 100px;
        margin-right: 30px;
        position: relative;
        left: -100px;
    }

    #menu li {
        margin-right: 20px;
        font-size: larger;
    }

}

@media (max-width:1150px) {
    header ul {
        display: none;
    }

    header {
        justify-content: center;
    }

    #logo {
        margin: 0 auto;
    }

    footer {
        gap: 10%;
    }

    footer section {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 935px) {
    #formulario {
        margin-left: 50px;
    }
}